# *Lab Test 2*

In [1]:
# Import necessary things
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import accuracy_score, classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

In [2]:
# Load the dataset
url = 'https://raw.githubusercontent.com/kb22/Heart-Disease-Prediction/refs/heads/master/dataset.csv'
df = pd.read_csv(url)
df.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
# Identify any missing Value (if any) and handle them
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [4]:
# Display its structure (number of rows, columns, and data types)
print(df.shape)
print(df.dtypes)

(303, 14)
age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [5]:
# Perform basic statistical analysis (mean, median, standard deviation) on numerical features
print("Mean =\n", df.mean())
print("Median =\n", df.median())
print("Standard Deviation =\n", df.std())

Mean =
 age          54.366337
sex           0.683168
cp            0.966997
trestbps    131.623762
chol        246.264026
fbs           0.148515
restecg       0.528053
thalach     149.646865
exang         0.326733
oldpeak       1.039604
slope         1.399340
ca            0.729373
thal          2.313531
target        0.544554
dtype: float64
Median =
 age          55.0
sex           1.0
cp            1.0
trestbps    130.0
chol        240.0
fbs           0.0
restecg       1.0
thalach     153.0
exang         0.0
oldpeak       0.8
slope         1.0
ca            0.0
thal          2.0
target        1.0
dtype: float64
Standard Deviation =
 age          9.082101
sex          0.466011
cp           1.032052
trestbps    17.538143
chol        51.830751
fbs          0.356198
restecg      0.525860
thalach     22.905161
exang        0.469794
oldpeak      1.161075
slope        0.616226
ca           1.022606
thal         0.612277
target       0.498835
dtype: float64

In [6]:
# Split the dataset
X = df.drop('target', axis = 1)
# print(X)

Y = df['target']
# print(Y)

x_train, x_test, y_train, y_test = train_test_split(X, Y, train_size = 0.8, random_state = 42)

# print(x_train)

# print(x_test)

In [7]:
# Standardize the features
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)
# print(x_train)

In [8]:
# Train with KNN classifier
knn = KNeighborsClassifier(n_neighbors = 7)
knn.fit(x_train, y_train)
y_pred_dt = knn.predict(x_test)

In [9]:
# Evaluate the model
knn_accuracy = accuracy_score(y_test, y_pred_dt)
print('KNN Accuracy for n_neighbors = 7: ', knn_accuracy)
print('KNN Classification Report:\n')
print(classification_report(y_test, y_pred_dt))

KNN Accuracy for n_neighbors = 7:  0.9180327868852459
KNN Classification Report:

              precision    recall  f1-score   support

           0       0.90      0.93      0.92        29
           1       0.94      0.91      0.92        32

    accuracy                           0.92        61
   macro avg       0.92      0.92      0.92        61
weighted avg       0.92      0.92      0.92        61

In [10]:
# Train with Decision Tree
rf = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=42)
rf.fit(x_train, y_train)
y_pred_rf = rf.predict(x_test)

In [11]:
# Evaluate the model
rf_accuracy = accuracy_score(y_test, y_pred_rf)
print('Random Forest Accuracy  for depth = 5: ', rf_accuracy)
print('Random Forest Classification Report:\n')
print(classification_report(y_test, y_pred_rf))

Random Forest Accuracy  for depth = 5:  0.8688524590163934
Random Forest Classification Report:

              precision    recall  f1-score   support

           0       0.89      0.83      0.86        29
           1       0.85      0.91      0.88        32

    accuracy                           0.87        61
   macro avg       0.87      0.87      0.87        61
weighted avg       0.87      0.87      0.87        61